<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/countries"> &nbsp; Countries &nbsp; </a>
        <a class="navbar-item" href="/countries/new"> &nbsp; Add Country &nbsp; </a>
    </div>
</nav>