<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs', {page: 'Add New Country'}) %>
<body class="has-navbar-fixed-top has-background-black-ter">
    <%- include ('./partials/nav.ejs') %>
    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <p class="title has-text-black-bis">Add New Country</p>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <div class="column is-two-thirds">
                <article class="card form-card has-background-grey-dark">
                    <form action="/countries" method="POST">
                        <div class="field">
                            <label class="label has-text-light">Country Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="Japan">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Population</label>
                            <div class="control">
                                <input class="input" type="text" name="population" placeholder="126 million">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Demonym</label>
                            <div class="control">
                                <input class="input" type="text" name="demonym" placeholder="Japanese">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Capital</label>
                            <div class="control">
                                <input class="input" type="text" name="capital" placeholder="Tokyo">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Largest City</label>
                            <div class="control">
                                <input class="input" type="text" name="largestCity" placeholder="Tokyo">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-light">Flag Image</label>
                            <div class="control">
                                <input class="input" type="text" name="flagImg" placeholder="https://upload.wikimedia.org/wikipedia/en/thumb/9/9e/Flag_of_Japan.svg/250px-Flag_of_Japan.svg.png">
                            </div>
                        </div>
                        <div class="field form-buttons is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-info">Add New Country</button>
                            </div>
                            <div class="control">
                                <button type="reset" class="button is-warning">Reset Form</button>
                            </div>
                            <div class="control">
                                <a class="button is-light" href="/countries">Cancel</a>
                            </div>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </main>
</body>
</html>